<ng-container *ngIf="taskColumns">
  <div *ngFor="let column of taskColumns" class="column-container">
    <h2>{{column.columnTitle}}</h2>

    <div
      cdkDropList
      [id]="column.id"
      [cdkDropListData]="column.taskList"
      [cdkDropListConnectedTo]="column.cdkConnectedTo"
      class="column-task-list"
      [ngClass]="{'is-empty': column?.taskList?.length === 0}"
      (cdkDropListDropped)="drop($event)"
    >
      <ng-container *ngIf="column?.taskList?.length > 0">
        <div
          *ngFor="let item of column.taskList"
          class="column-task-item"
          [ngClass]="{'is-finished' : column.id === Constants.DONE.id}"
          cdkDrag
        >
          {{item.label}}
        </div>
      </ng-container>

      <ng-container *ngIf="column?.taskList?.length === 0">
        <div class="column-task-item no-pointer-events">No items here</div>
      </ng-container>
    </div>
  </div>
</ng-container>
