mat-tab-group.todo-view-tab-group {
  min-width: 1000px;
  margin: 0 auto;

  .todo-card {
    margin: 5px 0;
  }

  mat-tab-header {
    .mat-tab-label-container {
      .mat-tab-list {
        .mat-tab-labels {
          .mat-tab-label {
            font-family: 'Montserrat', "Helvetica Neue", sans-serif !important;
            font-size: 14px;
            font-weight: 700;
          }
        }
      }
    }
  }
}
